.footer {
	z-index: 1;
	position: relative;
	margin-top: clamp(34px, 6.8vw, 68px) !important;
	margin-bottom: clamp(80px, 12vw, 100px) !important;

	&__phone {
		font-size: 20px;
		font-weight: 600;
		text-wrap: nowrap;
	}

	&__logo {
		& img {
			width: clamp(135px, 30vw, 301px);
		}
	}
}
