.footer {
	position: relative;
	padding-top: clamp(34px, 6.8vw, 68px) !important;
	padding-bottom: clamp(50px, 10vw, 100px) !important;
	background-color: #fff;

	&__phone {
		font-size: 20px;
		font-weight: 600;
		text-wrap: nowrap;
	}

	&__logo {
		& img {
			width: clamp(135px, 30vw, 301px);
		}
	}
}
